@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  min-height: 100vh;
  color: hsl(278deg, 68%, 11%);
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 13.25em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  padding: 17em 1.5em 0.5em 1.5em;
  position: relative;
  max-width: 25em;
  margin: auto;
}
.container .card-back {
  width: 15.89em;
  height: 8.78em;
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4em;
  position: absolute;
  right: 0.9em;
  top: 1.8em;
  box-shadow: 0 0 2em rgba(33, 9, 47, 0.2);
  transition: all 250ms;
}
.container .card-back #cc-cvc {
  position: absolute;
  right: 3.5em;
  font-size: 0.55em;
  top: 7.37em;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1em;
}
.container .card-front {
  width: 15.89em;
  height: 8.78em;
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4em;
  position: absolute;
  left: 0.9em;
  top: 6.72em;
  z-index: 1;
  box-shadow: 0 0 2em rgba(33, 9, 47, 0.2);
  color: hsl(0deg, 0%, 100%);
  transition: all 250ms;
}
.container .card-front .cc-logo1 {
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  background-color: hsl(0deg, 0%, 100%);
  position: absolute;
  top: 1em;
  left: 1.2em;
}
.container .card-front .cc-logo2 {
  border-radius: 50%;
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid hsl(0deg, 0%, 100%);
  position: absolute;
  top: 1.4em;
  left: 3.4em;
}
.container .card-front #cc-number {
  position: absolute;
  bottom: 2.7em;
  left: 1.2em;
  letter-spacing: 0.125em;
}
.container .card-front #cc-name {
  font-size: 0.5em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: absolute;
  bottom: 2em;
  left: 2.6em;
}
.container .card-front #cc-exp {
  font-size: 0.5em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: absolute;
  bottom: 2em;
  right: 2.6em;
}
.container #success {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5em;
  margin-top: 1em;
}
.container #success h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.container #success img {
  width: 4.45em;
  height: 4.45em;
  margin-bottom: 0.75em;
}
.container #success p {
  color: hsl(279deg, 6%, 55%);
}
.container #success a {
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  font-size: 0.95em;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.container #card-form .input-group-container {
  display: flex;
}
.container #card-form .input-group {
  display: inline-block;
  width: 100%;
  margin-top: 1.2em;
}
.container #card-form .input-group label {
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}
.container #card-form .input-group input {
  width: 100%;
  height: 2.5em;
  border: 0.1em solid hsl(270deg, 3%, 87%);
  border-radius: 0.5em;
  padding: 0 0.8em;
  margin-top: 0.35em;
}
.container #card-form .input-group input::-moz-placeholder {
  color: #d1d0d2;
}
.container #card-form .input-group input::placeholder {
  color: #d1d0d2;
}
.container #card-form .input-group .border-error {
  border: 0.1em solid hsl(0deg, 100%, 66%);
}
.container #card-form .input-group #card-month {
  width: 3.8em;
}
.container #card-form .input-group #card-year {
  width: 3.8em;
  margin-left: 0.375em;
}
.container #card-form .input-group .error-message {
  color: hsl(0deg, 100%, 66%);
  font-size: 0.75em;
  margin-top: 0.3em;
  margin-left: 0.1em;
  margin-right: 0.5em;
}
.container #card-form button {
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  font-size: 0.95em;
  margin-top: 1.7em;
  cursor: pointer;
}
.container .footer {
  color: hsl(278deg, 68%, 11%);
  margin-top: 2em;
  font-size: 0.75em;
  text-align: center;
}
.container .footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4em;
}
.container .footer ul li {
  padding: 0 0.5em;
}
.container .footer ul li a {
  color: hsl(278deg, 68%, 11%);
  transition: color 300ms;
}
.container .footer ul li + li {
  border-left: 0.1em solid hsl(278deg, 68%, 11%);
}

@media (min-width: 768px) {
  body {
    font-size: 1.76rem;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 35% 100%;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 0;
    max-width: initial;
  }
  .container .card-front {
    top: -3em;
    left: -3em;
  }
  .container .card-back {
    right: initial;
    top: 7.5em;
    left: 0;
  }
  .container #success {
    font-size: 1.125rem;
    margin-left: 32em;
    width: 21em;
    margin-top: 0;
  }
  .container #card-form {
    font-size: 1.125rem;
    margin-left: 32em;
    width: 21em;
  }
  .container #card-form > .input-group:first-child {
    margin-top: 0;
  }
  .container .footer {
    margin-left: 40.9em;
    font-size: 0.5em;
  }
}
@media (pointer: fine) {
  main {
    width: auto;
  }
  .container #success a:hover {
    box-shadow: 0 0 1.5em hsl(279deg, 6%, 55%);
    background-color: #3f115a;
  }
  .container #card-form button:hover {
    box-shadow: 0 0 1.5em hsl(279deg, 6%, 55%);
    background-color: #3f115a;
  }
  .container .footer ul li a:hover {
    color: hsl(279deg, 6%, 55%);
  }
}/*# sourceMappingURL=style.css.map */